In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix

C:\Users\prachi\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df=pd.read_csv('Churn_Modelling.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:

df.drop(["RowNumber","CustomerId","Surname"],inplace=True,axis=1)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [6]:
df['Gender'].value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [7]:
df['Geography'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [8]:
# pd.get_dummies(data=df,columns=['Geography'])

In [9]:
df['Gender'].replace({'Male':1,'Female':0},inplace=True)

In [10]:
df['Geography'].replace({'France':0,'Germany':1,'Spain':2},inplace=True)

In [11]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0

In [12]:
col_scale=["CreditScore","Age","Tenure","Balance","NumOfProducts","EstimatedSalary"]
from sklearn.preprocessing import MinMaxScaler

In [13]:
mn=MinMaxScaler()

In [14]:
df[col_scale] = mn.fit_transform(df[col_scale])

# cols_to_scale = ['CreditScore', 'Balance', 'Tenure', 'EstimatedSalary']



# sc = MinMaxScaler()

# df[cols_to_scale] = sc.fit_transform(df[cols_to_scale])
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0.538,0,0,0.324324,0.2,0.000000,0.000000,1,1,0.506735,1
1,0.516,2,0,0.310811,0.1,0.334031,0.000000,0,1,0.562709,0
2,0.304,0,0,0.324324,0.8,0.636357,0.666667,1,0,0.569654,1
3,0.698,0,0,0.283784,0.1,0.000000,0.333333,0,0,0.469120,0
4,1.000,2,0,0.337838,0.2,0.500246,0.000000,1,1,0.395400,0

In [15]:
x=df.drop('Exited',axis=1)
y=df['Exited']

In [16]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [17]:
# import tenserflow
from tensorflow import keras
from keras import Sequential
from keras.layers import Dense,Dropout

In [18]:
model=Sequential()

In [19]:
model.add(Dense(6,activation='relu',input_shape = (x_train.shape[1], )))
model.add(Dropout(rate=0.1))

model.add(Dense(6,activation='relu'))
model.add(Dropout(rate=0.1))

model.add(Dense(1,activation='sigmoid'))

In [20]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 6)                 66

 dropout (Dropout)           (None, 6)                 0

 dense_1 (Dense)             (None, 6)                 42

 dropout_1 (Dropout)         (None, 6)                 0

 dense_2 (Dense)             (None, 1)                 7

=================================================================
Total params: 115 (460.00 Byte)
Trainable params: 115 (460.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [21]:
model.compile(optimizer='adam',loss="binary_crossentropy",metrics=['accuracy'])

In [22]:
model.fit(x_train, y_train,epochs=100, batch_size = 32)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6045 - accuracy: 0.6783
Epoch 2/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5052 - accuracy: 0.7954
Epoch 3/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4910 - accuracy: 0.7958
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4871 - accuracy: 0.7960
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4811 - accuracy: 0.7960
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4771 - accuracy: 0.7960
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4770 - accuracy: 0.7960
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4697 - accuracy: 0.7960
Epoch 9/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4675 - accuracy: 0.7960
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4660 - accuracy: 0.7960
Epoch 11/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4642 - accuracy: 0.7960
Epoch 12/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4615 - accuracy: 0.7960
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4584 - accuracy: 0.7960
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4564 - accuracy: 0.7960
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4572 - accuracy: 0.7960
Epoch 16/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4548 - accuracy: 0.7960
Epoch 17/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4497 - accuracy: 0.7960
Epoch 18/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4477 - accuracy: 0.7960
Epoch 19/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4514 - accuracy: 0.7960
Epoch 20/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4497 - accuracy: 0.7960
Epoch 21/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4474 - accuracy: 0.7960
Epoch 22/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4488 - accuracy: 0.7960
Epoch 23/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4464 - accuracy: 0.7960
Epoch 24/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4487 - accuracy: 0.7960
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4447 - accuracy: 0.7960
Epoch 26/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4457 - accuracy: 0.7960
Epoch 27/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4463 - accuracy: 0.7960
Epoch 28/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4475 - accuracy: 0.7960
Epoch 29/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4447 - accuracy: 0.7960
Epoch 30/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4444 - accuracy: 0.7960
Epoch 31/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4413 - accuracy: 0.7960
Epoch 32/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4427 - accuracy: 0.7960
Epoch 33/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4437 - accuracy: 0.7960
Epoch 34/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4426 - accuracy: 0.7960
Epoch 35/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4406 - accuracy: 0.7960
Epoch 36/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4425 - accuracy: 0.7960
Epoch 37/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4415 - accuracy: 0.7960
Epoch 38/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4421 - accuracy: 0.7960
Epoch 39/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4423 - accuracy: 0.7960
Epoch 40/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4427 - accuracy: 0.7960
Epoch 41/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4429 - accuracy: 0.7960
Epoch 42/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4412 - accuracy: 0.7960
Epoch 43/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4403 - accuracy: 0.7960
Epoch 44/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4428 - accuracy: 0.7960
Epoch 45/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4417 - accuracy: 0.7960
Epoch 46/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4412 - accuracy: 0.7960
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4395 - accuracy: 0.7960
Epoch 48/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4407 - accuracy: 0.7960
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4391 - accuracy: 0.7960
Epoch 50/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4394 - accuracy: 0.7960
Epoch 51/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4384 - accuracy: 0.7960
Epoch 52/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4394 - accuracy: 0.7960
Epoch 53/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4369 - accuracy: 0.7960
Epoch 54/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4381 - accuracy: 0.7960
Epoch 55/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4396 - accuracy: 0.7960
Epoch 56/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4400 - accuracy: 0.7960
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4368 - accuracy: 0.7960
Epoch 58/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4398 - accuracy: 0.7960
Epoch 59/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4377 - accuracy: 0.7960
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4383 - accuracy: 0.7960
Epoch 61/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4395 - accuracy: 0.7960
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4363 - accuracy: 0.7960
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4366 - accuracy: 0.7960
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4349 - accuracy: 0.7960
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4314 - accuracy: 0.7960
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4324 - accuracy: 0.7960
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4307 - accuracy: 0.7960
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4308 - accuracy: 0.7960
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4321 - accuracy: 0.7960
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4280 - accuracy: 0.7960
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4297 - accuracy: 0.7960
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4261 - accuracy: 0.7960
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4254 - accuracy: 0.7960
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4260 - accuracy: 0.7960
Epoch 75/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4258 - accuracy: 0.7960
Epoch 76/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4245 - accuracy: 0.7960
Epoch 77/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4219 - accuracy: 0.7960
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4226 - accuracy: 0.7960
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4265 - accuracy: 0.7960
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4241 - accuracy: 0.7960
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4209 - accuracy: 0.7960
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4210 - accuracy: 0.7960
Epoch 83/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4220 - accuracy: 0.7960
Epoch 84/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4184 - accuracy: 0.7960
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4271 - accuracy: 0.7959
Epoch 86/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4211 - accuracy: 0.7959
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4193 - accuracy: 0.7961
Epoch 88/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4184 - accuracy: 0.7960
Epoch 89/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4215 - accuracy: 0.7958
Epoch 90/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4175 - accuracy: 0.7959
Epoch 91/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4170 - accuracy: 0.7958
Epoch 92/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4184 - accuracy: 0.7961
Epoch 93/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4162 - accuracy: 0.7956
Epoch 94/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4123 - accuracy: 0.7958
Epoch 95/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4158 - accuracy: 0.7956
Epoch 96/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4122 - accuracy: 0.8089
Epoch 97/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4148 - accuracy: 0.8183
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4129 - accuracy: 0.8181
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4087 - accuracy: 0.8221
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4102 - accuracy: 0.8194

In [23]:
yp = model.predict(x_test)

63/63 [==============================] - 0s 2ms/step

In [24]:
y_pred=[]
for val in yp:
    if val>0.5:
        y_pred.append(1)
    else:
        y_pred.append(0)

In [25]:
y_pred[:5]

[0, 0, 0, 0, 0]

In [26]:

cm = confusion_matrix(y_test, y_pred)
print(cm)

[[1497   98]
 [ 235  170]]

In [27]:
from sklearn.metrics import classification_report

print("Classification Report is :")
print(classification_report(y_test,y_pred))

Classification Report is :
              precision    recall  f1-score   support

           0       0.86      0.94      0.90      1595
           1       0.63      0.42      0.51       405

    accuracy                           0.83      2000
   macro avg       0.75      0.68      0.70      2000
weighted avg       0.82      0.83      0.82      2000